body{
    background-color:black;
    box-sizing: border-box;
  }


.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}


